/* small phone */

@media screen and (max-width:768px) {

    .container{
       flex-direction:column ;
       align-items: center;
       padding:20px 0px
       
     }
     

     .nav-icon{
       display: flex;
       justify-content: center;
        width:100%;
       
    }
     .nav-text{
       flex-direction:column;
      width: 100%;
      
        
    }

    .banner{
      flex-direction:column-reverse;
    }

    .product-container{
     
      grid-template-columns: repeat(2,1fr);
      gap:20px;
     
      
       
     
   }
   






    
}


@media screen and (max-width:576px) {

    .container{
       flex-direction:column ;
       align-items: center;
       padding:20px 0px
       
     }
     

     .nav-icon{
       display: flex;
       justify-content: center;
        width:100%;
       
    }
     .nav-text{
       flex-direction:column;
      width: 100%;
      
        
    }

    .banner{
      flex-direction:column-reverse;
      justify-content: center;
      margin-top: 30px;
    }


    .banner-btn-con{
      flex-direction: column;
      
      margin:10px auto
    }



    .banner-icon{
      display: flex;
      margin-top:20px;
      width:180px;
      justify-content: space-evenly;
     
      margin:10px auto;
      /* border:2px solid red */
  }

  .banner-text{
    justify-content: center;
    align-items: center;
    width:100%;
  }

  .banner-img{
    width:100%;
   position: relative;
}

.product-container{
     
  grid-template-columns: repeat(1,1fr);
  gap:20px;
 



    
}}