*{
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
}

{
    font-family: "Dancing Script", cursive;
}

.container{
   max-width: 900px;
   /* border:2px solid red; */
   margin:0 auto;
   
   display: flex;
   justify-content: space-between;
}

.nav-icon{
    /* border:2px solid green; */
    width: 50%;
   height: 60px;
}

.banner-logo img{
    width: 70px;
    object-fit: cover;
    
}

.nav-icon{
    display: flex;
  
    align-items:center ;
}
.banner-logo{
    margin-right:10px;
    
}
.nav-icon h3{
    font-size: 20px;
    font-weight: 800;
}
.Shop{
    color: #cda2f3
}
.nav-text a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:white
   
   
}
.nav-text{
    /* border:2px solid green; */
    width: 50%;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}

.btn{
    background-color: #cda2f3;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight:600;
    border:none
}

.header{
    background-color: #9376e0;
}